{% load static %}
<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>异清轩博客</title>
    <link rel="stylesheet" type="text/css" href="{% static 'myblog/css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="css/nprogress.css"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'myblog/css/style.css' %}">

    <script src="{% static 'myManage/js/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'myblog/js/bootstrap.js' %}"></script>
</head>

<body class="user-select">
<header class="header">
    <nav class="navbar navbar-default" id="navbar">
        <div class="container">
            <div class="header-topbar hidden-xs link-border">
                <ul class="site-nav topmenu">
                    <li><a href="#">标签云</a></li>
                    <li><a href="#" rel="nofollow">读者墙</a></li>
                    <li><a href="#" rel="nofollow">友情链接</a></li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" role="button"
                                            aria-haspopup="true" aria-expanded="false" rel="nofollow">关注本站 <span
                            class="caret"></span></a>
                        <ul class="dropdown-menu header-topbar-dropdown-menu">
                            <li><a data-toggle="modal" data-target="#WeChat" rel="nofollow"><i class="fa fa-weixin"></i>
                                微信</a></li>
                            <li><a href="#" rel="nofollow"><i class="fa fa-weibo"></i> 微博</a></li>
                            <li><a data-toggle="modal" data-target="#areDeveloping" rel="nofollow"><i
                                    class="fa fa-rss"></i> RSS</a></li>
                        </ul>
                    </li>
                </ul>
                <a data-toggle="modal" data-target="#loginModal" class="login" rel="nofollow" name="username">Hi,请登录</a>&nbsp;&nbsp;<a
                    href="#" class="register" rel="nofollow" name="operation">我要注册</a>&nbsp;&nbsp;
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#header-navbar" aria-expanded="false"><span class="sr-only"></span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
                <h1 class="logo hvr-bounce-in"><a href="" title=""><img src="{% static 'myblog/images/logo.png' %}"
                                                                        alt=""></a></h1>
            </div>
            <div class="collapse navbar-collapse" id="header-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden-index active"><a data-cont="异清轩首页" href="index.html">异清轩首页</a></li>
                    <li><a href="#">前端技术</a></li>
                    <li><a href="#">后端程序</a></li>
                    <li><a href="#">管理系统</a></li>
                    <li><a href="#">授人以渔</a></li>
                    <li><a href="#">程序人生</a></li>
                </ul>
                {#        <form class="navbar-form visible-xs" action="/Search" method="post">#}
                {#          <div class="input-group">#}
                {#            <input type="text" name="keyword" class="form-control" placeholder="请输入关键字" maxlength="20" autocomplete="off">#}
                {#            <span class="input-group-btn">#}
                {#            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>#}
                {#            </span> </div>#}
                {#        </form>#}
            </div>
        </div>
    </nav>
</header>
<section class="container">
    <div class="content-wrap">
        <div class="content">
            <div class="jumbotron">
                <h1>欢迎访问初遇如故博客</h1>
                <p>在这里可以看到前端技术，后端程序，网站内容管理系统等文章，还有我的程序人生！</p>
            </div>
            <div id="focusslide" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#focusslide" data-slide-to="0" class="active"></li>
                    <li data-target="#focusslide" data-slide-to="1"></li>
                    <li data-target="#focusslide" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="item active"><a href="" target="_blank"><img
                            src="{% static 'myblog/images/banner/banner_01.jpg' %}" alt="" class="img-responsive"></a>
                        <!--<div class="carousel-caption"> </div>-->
                    </div>
                    <div class="item"><a href="" target="_blank"><img
                            src="{% static 'myblog/images/banner/banner_02.jpg' %}" alt="" class="img-responsive"></a>
                        <!--<div class="carousel-caption"> </div>-->
                    </div>
                    <div class="item"><a href="" target="_blank"><img
                            src="{% static 'myblog/images/banner/banner_03.jpg' %}" alt="" class="img-responsive"></a>
                        <!--<div class="carousel-caption"> </div>-->
                    </div>
                </div>
                <a class="left carousel-control" href="#focusslide" role="button" data-slide="prev" rel="nofollow">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span
                        class="sr-only">上一个</span> </a> <a class="right carousel-control" href="#focusslide"
                                                           role="button" data-slide="next" rel="nofollow"> <span
                    class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span
                    class="sr-only">下一个</span> </a></div>
            <article class="excerpt-minic excerpt-minic-index">
                <h2><span class="red">【今日推荐】</span><a href="" title="">从下载看我们该如何做事</a></h2>
                <p class="note">一次我下载几部电影，发现如果同时下载多部要等上几个小时，然后我把最想看的做个先后排序，去设置同时只能下载一部，结果是不到一杯茶功夫我就能看到最想看的电影。
                    这就像我们一段时间内想干成很多事情，是同时干还是有选择有顺序的干，结果很不一样。同时...</p>
            </article>

            <div class="title">
                <h3>最新发布</h3>
                <div class="more"><a href="">PHP</a><a href="">JavaScript</a><a href="">EmpireCMS</a><a
                        href="">Apache</a><a href="">MySQL</a></div>
            </div>

            {% for blog in blogs reversed %}
                <article class="excerpt excerpt-1"><a class="focus" href="{% url 'myblog:showblog' blog.id %}"
                                                      title="">
                    <img class="thumb" src="{{ blog.files }}" alt=""></a>
                    <header>
                        <a class="cat" href="">{{ blog.category.cname }}<i></i></a>
                        <h2><a href="{% url 'myblog:showblog' blog.id %} " title="">{{ blog.btitle }}</a></h2>
                    </header>
                    <p class="meta">
                        <time class="time"><i class="glyphicon glyphicon-time"></i>{{ blog.creat_time }}</time>
                        <span class="views"><i class="glyphicon glyphicon-eye-open"></i> 共{{ blog.vistnums }}人围观</span>
                        <a
                                class="comment"
                                href="article.html#comment"><i
                                class="glyphicon glyphicon-comment"></i> {{ blog.commentnums }}个不明物体</a></p>
                    <p class="note">
                        可以用strtotime()把日期（$date）转成时间戳，再用date()按需要验证的格式转成一个日期，来跟$date比较是否相同来验证这个日期的格式是否是正确的。所以要验证日期格式
                        ... </p>
                </article>
            {% endfor %}
            <nav aria-label="Page navigation">
                <ul class="pagination pagination-lg">
                    {% if page.has_previous %}
                        <li>
                            <a href="{% url 'myblog:index1' page.number|add:'-1' %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <span href="{% url 'myblog:index1' page.number|add:'-1' %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </span>
                        </li>

                    {% endif %}

                    {% for num in pagerange %}
                        {% ifequal num page.number %}
                            <li class="active"><a href="{% url 'myblog:index1' num %}">{{ num }}</a></li>
                        {% else %}
                            <li><a href="{% url 'myblog:index1' num %}">{{ num }}</a></li>
                        {% endifequal %}
                    {% endfor %}
                    {% if page.has_next %}
                        <li>
                            <a href="{% url 'myblog:index1' page.number|add:'1' %}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                                <span href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </span>
                        </li>
                    {% endif %}
                </ul>
            </nav>


            <nav class="pagination" style="display: none;">
                <ul>
                    <li class="prev-page"></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="?page=2">2</a></li>
                    <li class="next-page"><a href="?page=2">下一页</a></li>
                    <li><span>共 2 页</span></li>
                </ul>
            </nav>
        </div>
    </div>

    <aside class="sidebar">
        <div class="fixed">
            <div class="widget widget-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#notice" aria-controls="notice" role="tab"
                                                              data-toggle="tab">网站公告</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane notice active" id="notice">
                        <ul>
                            <li>
                                <time datetime="2016-01-04">01-04</time>
                                <a href="" target="_blank">欢迎访问异清轩博客</a></li>
                            <li>
                                <time datetime="2016-01-04">01-04</time>
                                <a target="_blank" href="">在这里可以看到前端技术，后端程序，网站内容管理系统等文章，还有我的程序人生！</a></li>
                            <li>
                                <time datetime="2016-01-04">01-04</time>
                                <a target="_blank" href="">在这个小工具中最多可以调用五条</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {#      <div class="widget widget_search">#}
            {#        <form class="navbar-form" action="/Search" method="post">#}
            {#          <div class="input-group">#}
            {#            <input type="text" name="keyword" class="form-control" size="35" placeholder="请输入关键字" maxlength="15" autocomplete="off">#}
            {#            <span class="input-group-btn">#}
            {#            <button class="btn btn-default btn-search" name="search" type="submit">搜索</button>#}
            {#            </span> </div>#}
            {#        </form>#}
            {#      </div>#}
        </div>
        <div class="widget widget_sentence">
            <h3>每日一句</h3>
            <div class="widget-sentence-content">
                <h4>2016年01月05日星期二</h4>
                <p>Do not let what you cannot do interfere with what you can do.<br/>
                    别让你不能做的事妨碍到你能做的事。（John Wooden）</p>
            </div>
        </div>
        <div class="widget widget_hot">
            <h3>热门文章</h3>
            <ul>
                {% for frontblog in frontblogs %}
                    <li><a href=""><span class="thumbnail"><img class="thumb"  src="{{ frontblog.files }}"
                                                                alt=""></span><span
                            class="text">{{ frontblog.btitle }}</span><span class="muted"><i
                            class="glyphicon glyphicon-time"></i> {{ frontblog.creat_time }} </span><span class="muted"><i
                            class="glyphicon glyphicon-eye-open"></i>{{ frontblog.vistnums }}</span></a></li>
                {% endfor %}
            </ul>
        </div>
    </aside>
</section>

<!-- <script src="js/bootstrap.min.js"></script>
<script src="js/jquery.ias.js"></script>
<script src="js/scripts.js"></script> -->
</body>
</html>
<script>
    $.getJSON('/myManage/getuser/', function (data) {
        uname = data['uname']
        if (uname) {
            $("a[name='username']").text(uname)
            $("a[name='username']").attr('href', '/myManage/index/')
            $("a[name='operation']").text('退出登录')
            $("a[name='operation']").attr('href', '/myManage/logout/')
        }
    })
</script>